.Container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
    }

    label{
        margin-bottom: 10px;
    }
    
    input{
        margin-bottom: 10px;
    }
}